.Dialog {
    :global {
        .MuiBackdrop-root {
            background-color: rgba(0, 0, 0, 0.6);
        }

        .MuiDialog-container {
            .MuiPaper-root {
                border-radius: 50%;
                overflow: unset;
                padding: 15px;
                background-color: rgb(255, 255, 255);
                box-shadow: 5px 5px 5px;

                .MuiCircularProgress-svg {
                    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
                }
            }
        }
    }
}

.LoadingCircle {
    color: white;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

.MobileDatePicker {
    // display: none;
}

.TextFieldDisabledForDatePicker {
    label {
        color: rgba(0, 0, 0, 0.6) !important;
    }
    input {
        opacity: unset !important;
        -webkit-text-fill-color: unset !important;
        color: black !important;
    }
}
